freetakhub_videochecker_n3.json
[
    {
        "id": "a5f5a9650a2aec79",
        "type": "tab",
        "label": "FTH Videochecker"
    },
    {
        "id": "2a7e77e7.a92748",
        "type": "http request",
        "z": "a5f5a9650a2aec79",
        "name": "Post Video to FTS",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{addr}}}:{{{port}}}/ManageVideoStream/postVideoStream",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "bearer",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 440,
        "wires": [
            [
                "25874402.182cec",
                "f8da2c2e.b2fb3"
            ]
        ]
    },
    {
        "id": "25874402.182cec",
        "type": "switch",
        "z": "a5f5a9650a2aec79",
        "name": "check return",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "500",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "401",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 630,
        "y": 440,
        "wires": [
            [
                "791450ee.61b5a"
            ],
            [
                "1b6de090.e2467f"
            ],
            [
                "a48bd58e.401dc8"
            ]
        ]
    },
    {
        "id": "791450ee.61b5a",
        "type": "debug",
        "z": "a5f5a9650a2aec79",
        "name": "Success!",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 440,
        "wires": []
    },
    {
        "id": "1b6de090.e2467f",
        "type": "debug",
        "z": "a5f5a9650a2aec79",
        "name": " INTERNAL SERVER ERROR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 480,
        "wires": []
    },
    {
        "id": "a48bd58e.401dc8",
        "type": "debug",
        "z": "a5f5a9650a2aec79",
        "name": "Non authorized",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 520,
        "wires": []
    },
    {
        "id": "41b82d8d.8266e4",
        "type": "function",
        "z": "a5f5a9650a2aec79",
        "name": "CreateVideoStream",
        "func": "\nmsg.addr = env.get('FTH_FTS_URL');\nmsg.port = env.get('FTH_FTS_API_Port');\nmsg.streamPort = env.get('FTH_FTS_STREAM_Port');\nmsg.streamAddress =  env.get('FTH_FTS_VIDEO_URL');\n\nlet streamPath = msg.payload;\nlet  alias = msg.payload;\nlet streamProtocol= \"rtsp\";\n\nmsg.payload = [];\n\nmsg.payload={\n  alias: alias,\n  streamProtocol: streamProtocol,\n  streamAddress: msg.streamAddress,\n  streamPort: msg.streamPort,\n  streamPath: streamPath,\n};\n    \nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 240,
        "wires": [
            [
                "351711f.8aa5aee",
                "50f59220d73c2d3f"
            ]
        ]
    },
    {
        "id": "351711f.8aa5aee",
        "type": "debug",
        "z": "a5f5a9650a2aec79",
        "name": "Rest Payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 240,
        "wires": []
    },
    {
        "id": "f8da2c2e.b2fb3",
        "type": "debug",
        "z": "a5f5a9650a2aec79",
        "name": "post",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 520,
        "wires": []
    },
    {
        "id": "529fdac2.273054",
        "type": "http request",
        "z": "a5f5a9650a2aec79",
        "name": "Connect to RTSP server",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://{{{addr}}}:{{{port}}}/v1/paths/list",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 750,
        "y": 80,
        "wires": [
            [
                "801fd65f.5be7d8",
                "70339513.554ecc"
            ]
        ]
    },
    {
        "id": "801fd65f.5be7d8",
        "type": "debug",
        "z": "a5f5a9650a2aec79",
        "name": "received from Video server JSON",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 80,
        "wires": []
    },
    {
        "id": "5812cb15.cd4b04",
        "type": "inject",
        "z": "a5f5a9650a2aec79",
        "name": "start",
        "props": [
            {
                "p": "addr",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "ab5e51e8.e29b5"
            ]
        ]
    },
    {
        "id": "e7eb8030.427a4",
        "type": "switch",
        "z": "a5f5a9650a2aec79",
        "name": "check streams",
        "property": "payload.source",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "null"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 300,
        "y": 700,
        "wires": [
            [],
            [
                "7fc68a9f.e82fe4"
            ],
            []
        ]
    },
    {
        "id": "7fc68a9f.e82fe4",
        "type": "debug",
        "z": "a5f5a9650a2aec79",
        "name": "no stream!",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 700,
        "wires": []
    },
    {
        "id": "b6661f0d.790e8",
        "type": "debug",
        "z": "a5f5a9650a2aec79",
        "name": "after split",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 760,
        "wires": []
    },
    {
        "id": "70339513.554ecc",
        "type": "split",
        "z": "a5f5a9650a2aec79",
        "name": "split: by line",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "ce49e6a3.280768",
                "7714b387.25136c"
            ]
        ]
    },
    {
        "id": "90676aac.d49f98",
        "type": "split",
        "z": "a5f5a9650a2aec79",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 110,
        "y": 700,
        "wires": [
            [
                "b6661f0d.790e8",
                "e7eb8030.427a4"
            ]
        ]
    },
    {
        "id": "ab5e51e8.e29b5",
        "type": "function",
        "z": "a5f5a9650a2aec79",
        "name": "getVideoStream",
        "func": "\nmsg.addr =  env.get('FTH_FTS_VIDEO_URL');\nmsg.port = env.get('FTH_FTS_VIDEO_API_PORT'); \n    \nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 80,
        "wires": [
            [
                "d958f07c624345b1"
            ]
        ]
    },
    {
        "id": "ce49e6a3.280768",
        "type": "debug",
        "z": "a5f5a9650a2aec79",
        "name": "conf name",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 300,
        "wires": []
    },
    {
        "id": "7714b387.25136c",
        "type": "function",
        "z": "a5f5a9650a2aec79",
        "name": "split by key",
        "func": "\nnode.warn(Object.keys(msg.payload).length);\nfor (let i = 0; i < Object.keys(msg.payload).length; i++) { \n  // node.warn(Object.keys(msg.payload)[i])\n  if (Object.values(msg.payload)[i].source){\n        msg.payload = \"/\"+Object.keys(msg.payload)[i]\n        node.send(msg)\n  }\n}\nreturn;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 240,
        "wires": [
            [
                "41b82d8d.8266e4",
                "b6146596.a3aeb8"
            ]
        ]
    },
    {
        "id": "b6146596.a3aeb8",
        "type": "debug",
        "z": "a5f5a9650a2aec79",
        "name": "by key",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 340,
        "wires": []
    },
    {
        "id": "bfadd2cc.7c368",
        "type": "inject",
        "z": "a5f5a9650a2aec79",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 820,
        "wires": [
            [
                "a4bc3376.a38dd"
            ]
        ]
    },
    {
        "id": "a4bc3376.a38dd",
        "type": "function",
        "z": "a5f5a9650a2aec79",
        "name": "split by color",
        "func": "var colors=[\"red\",\"blue\",\"green\"];\nfor (let i = 0; i < colors.length; i++) { \n  msg.payload = colors[i]\n  node.send(msg);\n}\nreturn;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 820,
        "wires": [
            [
                "c290bbb3.401e98"
            ]
        ]
    },
    {
        "id": "c290bbb3.401e98",
        "type": "debug",
        "z": "a5f5a9650a2aec79",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 820,
        "wires": []
    },
    {
        "id": "87532851d688d65e",
        "type": "comment",
        "z": "a5f5a9650a2aec79",
        "name": "CONFIG ME!!!!",
        "info": "Go to:\n Menu -> \n   Settings -> \n     Environment\n\n",
        "x": 120,
        "y": 20,
        "wires": []
    },
    {
        "id": "50f59220d73c2d3f",
        "type": "change",
        "z": "a5f5a9650a2aec79",
        "name": "build FTS Video URL",
        "rules": [
            {
                "t": "set",
                "p": "addr",
                "pt": "msg",
                "to": "${FTH_FTS_URL}",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "port",
                "pt": "msg",
                "to": "${FTH_FTS_API_Port}",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 440,
        "wires": [
            [
                "2a7e77e7.a92748",
                "83a342c9c46a9f62"
            ]
        ]
    },
    {
        "id": "d958f07c624345b1",
        "type": "change",
        "z": "a5f5a9650a2aec79",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "addr",
                "pt": "msg",
                "to": "${FTH_FTS_VIDEO_URL}",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "port",
                "pt": "msg",
                "to": "${FTH_FTS_VIDEO_API_Port}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 80,
        "wires": [
            [
                "529fdac2.273054",
                "48671540d564444a"
            ]
        ]
    },
    {
        "id": "48671540d564444a",
        "type": "debug",
        "z": "a5f5a9650a2aec79",
        "name": "check url",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "url",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 160,
        "wires": []
    },
    {
        "id": "83a342c9c46a9f62",
        "type": "debug",
        "z": "a5f5a9650a2aec79",
        "name": "check FTS Video URL",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "url",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 500,
        "wires": []
    }
]